*, html{
    font-family:  'Atomic Age', cursive;
    /*background-color: #ddd;*/
    margin: 0;
}
body {
    background-color: #ddd;
}
.header {
    text-shadow:  2px 2px 5px #fff, -2px -2px #333;
    background-color: #ccc;
    position: fixed;
    height: 40px;
    top:0;
    width: 100%;
    border-bottom: 1px solid #fcfcfc;
    z-index: 2000;
}

.container {
    min-width: 500px;
    margin: 150px 235px 50px;
    color: #414141;
    font-weight: bolder;
    background-color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 4px;
    box-shadow: 0 1px 3px #444;
}

.footer {
    height: 50px;
    width: 100%;
    border-top: 2px solid #777;
    position: fixed;
    bottom: 0;
    text-align: center;
    color: #ccc;
    background:#111;
    font-size:12px;
    /*text-shadow:  1px 1px  #fff, -1px -1px #333;*/
}
h1, h2, h3, h4 {
    color: #b22222;
    text-transform: uppercase;
    /*margin-bottom: 10px;*/
    text-shadow:  2px 2px 1px #fff;
}
h1 {
    /*text-align: center;*/
    font-size: 60px;
    margin-left: 15px;
    margin-top: 40px;
}
.section {
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 4px;
    background-color: #777777;
    color: #fff;
    width: auto;
    max-width: 80%;
    margin: 20px auto;
    line-break: auto;
    box-shadow: 0 0 4px 4px #111;
}

.summary {
    font-size: 30px;
    text-align: center;
    color: #fafafa;
    font-weight: bolder;
    position: relative;
    top: -20px;
    max-width: 100% !important;
}

.paragraph {
    padding-top: 45px;
    padding-bottom: 55px;
}

.tile {
    background-color: #ccc;
    border: 1px solid #777;
    color:#777;
}
